$select3-divider-color: #efefef !default;
$select3-error-color: rgb(185, 74, 72) !default;
$select3-arrow-color: #000 !default;
$select3-arrow-open-color: #e94e1b !default;
$select3-zindex-select-dropdown: 1060 !default;
$select3-width-default: 220px !default;
$select3-input-placeholder-color: #999 !default;
$select3-selected-background-color: #e94e1b !default;
$select3-selected-text-color: #fff !default;
